.container {
  margin-right: auto;
  padding: 0 15px;
  max-width: 365px;
  margin-left: auto;


  @media screen and (min-width: 768px) {
    width: 734px;
    max-width: none;
  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 1270px;
  }
}