<div class="order__backdrop order__hidden">
  <div class="order">
    <img class="order__img" src="./images/desktop/order-img.png" alt="" />
    <h4 class="order__title">Order success</h4>
    <p class="order__text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
    <button class="order__close">
      <svg
                class="order__icon"
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M25 9.093l-2.093-2.093-6.907 6.907-6.907-6.907-2.093 2.093 6.907 6.907-6.907 6.907 2.093 2.093 6.907-6.907 6.907 6.907 2.093-2.093-6.907-6.907 6.907-6.907z"
                ></path>
              </svg>
    </button>
  </div>
</div>
