<footer>
  <div class="footer-content">
    <div class="footer-left">
      <h2>Food Boutique</h2>
      <div class="socials">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-center">
      <h3>Discover the Variety of Flavors and Quality</h3>
      <p>An online store where you will find fresh, natural and delicious products for a healthy life and unforgettable gastronomic adventures.</p>
    </div>
    <div class="footer-right">
      <p>Subscribe and learn about new products!</p>
      <div class="subscribe">
        <input type="email" placeholder="Email">
        <button>Send</button>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    Food Boutique. All rights reserved. ;
    <a href="#" style="color: white; text-decoration: underline;">Privacy Policy</a> / 
    <a href="#" style="color: white; text-decoration: underline;">Terms of Service</a>
  </div>
</footer>