

<div class="footer-modal" id="footer-modal">
    <div class="footer-modal-content" id="footer-modal-content">
        <button class="footer-modal-close" onclick="closeFooterModal()">✖</button>
        <div class="footer-modal-center-div" id="footer-modal-center-div"> 
            <h2 class="footer-modal-title" id="footer-modal-title"></h2>
            <p class="footer-modal-text" id="footer-modal-text"></p>
        </div>
        <img src="images/phone/x1/basket.png" alt="products basket" class="footer-modal-image" id="footer-modal-image">
    </div>
</div>