<div id="pagination-section" class="pagination">
  <div class="pagination__wrap">
    <button id="double-prev" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#double-left"></use>
      </svg>
    </button>
    <button id="prev" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#left"></use>
      </svg>
    </button>
  </div>
  <ul id="pagination-list" class="pagination__list">
  </ul>
  <div class="pagination__wrap">
    <button id="next" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#right"></use>
      </svg>
    </button>
    <button id="double-next" class="pagination__box">
      <svg width="24" height="24" class="pagination__svg">
        <use href="#double-right"></use>
      </svg>
    </button>
  </div>
</div>
