<section class="products">
  <div class="container products__container">
    <h2 class="products__title">Продукти</h2>
    <button class="products__sort-button" onclick="sortByPopularity()">Сортувати за популярністю</button>
    <div class="products__list">
      <div class="products__card">
        <img src="https://cdn-icons-png.flaticon.com/512/1046/1046784.png" alt="Apple" class="products__image" />
        <h3 class="products__name">Apple</h3>
        <p class="products__category">Fruits</p>
        <p class="products__popularity">Popularity: 5</p>
      </div>
      <div class="products__card">
        <img src="https://cdn-icons-png.flaticon.com/512/590/590685.png" alt="Bread" class="products__image" />
        <h3 class="products__name">Bread</h3>
        <p class="products__category">Bakery</p>
        <p class="products__popularity">Popularity: 2</p>
      </div>
      <div class="products__card">
        <img src="https://cdn-icons-png.flaticon.com/512/415/415682.png" alt="Milk" class="products__image" />
        <h3 class="products__name">Milk</h3>
        <p class="products__category">Dairy</p>
        <p class="products__popularity">Popularity: 8</p>
      </div>
      <div class="products__card">
        <img src="https://cdn-icons-png.flaticon.com/512/1046/1046857.png" alt="Cheese" class="products__image" />
        <h3 class="products__name">Cheese</h3>
        <p class="products__category">Dairy</p>
        <p class="products__popularity">Popularity: 6</p>
      </div>
    </div>
  </div>