

<div class="product-modal" id="product-modal">
    <div class="product-modal-content" id="product-modal-content">
        <button class="product-modal-close" onclick="closeProductModal()">✖</button>
        <img src="images/phone/x1/Pumpkin@1x.webp" alt="products illustration" class="product-modal-image" id="product-modal-image">
        <h2 class="product-modal-title" id="product-modal-title"></h2>
        <ul class="product-modal-list">
            <li class="product-modal-item">
                <p class="product-modal-property"></p>
            </li>
            <li class="product-modal-item">
                <p class="product-modal-property"></p>
            </li>
            <li class="product-modal-item">
                <p class="product-modal-property"></p>
            </li>
        </ul>
        <p class="product-modal-text"></p>
    </div>

</div>
