footer {
  background-color: #6D8434;
  color: white;
  padding: 40px 0px 20px;
  padding-left: 0;
  margin-top: 40px;

  .footer-container{
    width: 101vw;
  }
  .footer-title-div {
    @include flexbox(center, start);
    column-gap: 8px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

    .footer-left,
    .footer-center,
    .footer-right {
      flex: 1;
      padding: 20px;
      padding-left: 0px;
      padding-right: 0px;
      min-width: 200px;

      h2 {
        font-family: "Georgia", serif;
      }
    }
  }

  .footer-title {
    font-size: 18px;
    font-weight: 900;
    fill: white;
  }

  .footer-subtitle {
    font-weight: 500;
    font-size: 24px;
    width: 315px;
  }

  .footer-text {
    margin-top: 14px;
    margin-bottom: 40px;
    color: #e8e8e2b2;
    
    font-weight: 400;
    font-size: 14px;
  }

  .footer-form-text {
    color: $bg-color;
   
    font-weight: 400;
    font-size: 14px;
  }

  .footer__logo--icon {
    width: 28px;
    height: 28px;
    fill: #6d8434;
    border: 7px solid white;
    border-radius: 50%;
    background-color: white;
  }
.right-center{
  width: 315px;
}
  .socials {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    column-gap: 12px;

    a {
      color: white;
      font-size: 20px;
      margin-right: 10px;
      text-decoration: none;
    }

    .footer-fb-logo {
      fill: #e8e8e2;
      border: 1px solid #e8e8e24d;
      border-radius: 30%;
      width: 40px;
      height: 40px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-right: 16px;
      padding-left: 16px;
    }
    .footer-fb-logo:hover {
      background-color: #E8E8E233 ;
    }
    .footer-Inst-logo {
      fill: #e8e8e2;
      border: 1px solid #e8e8e24d;
      border-radius: 30%;
      width: 40px;
      height: 40px;
      padding: 10px;
    }
        .footer-Inst-logo:hover {
      background-color: #E8E8E233 ;
    }
    .footer-YT-logo {
      fill: #e8e8e2;
      border: 1px solid #e8e8e24d;
      border-radius: 30%;
      width: 40px;
      height: 40px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 9px;
      padding-left: 9px;
    }
    .footer-YT-logo:hover {
      background-color: #E8E8E233 ;
    }
  }

  .subscribe {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 315px;
    height: 98px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    input[type="email"] {
      padding: 10px;
      border: 1px solid white;
      border-radius: 20px;
      width: 100%;
      margin-bottom: 10px;
      background-color: #6D8434;

      &::placeholder {
        color: #E8E8E299 ;
      }
      &.error::placeholder {
        font-style: italic;
        font-weight: bold;
  color: #780606;
}
&:focus, #footer-input:not(:placeholder-shown) {
  background: #f3f3ed 90%;
  color: #000;
  font-weight: bold;
}
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 20px;
      background-color: #f3f3ed;
      color: black;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      color: #6D8434;
    }
  }

  .footer-form-send {
    font-weight: 500;
    font-size: 14px;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ddd;
    width: 202px;
    margin-right: 110px;
  }

  input,
  textarea {
    color: white;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  select:focus {
    outline: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100vw;
    padding: 0;
    @include flexbox(center, center);
  }
  footer {
    padding-right: 0;
  }

  footer .footer-content {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
.footer-main-content{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
  .footer-title-div {
    width: 218px;
    height: 32px;
  }

  footer .footer-content .footer-left,
  footer .footer-content .footer-center,
  footer .footer-content .footer-right {
    padding: 32px 32px 20px;
  }
footer .footer-content .footer-left{
  padding-right: 0;
  flex: 0;
  padding-left: 0;
}
  footer .footer-content .footer-center {
    padding-left: 0;
    padding-bottom: 0;
    margin-left: 78px;
  }
footer .right-center{
width: 429px;
}
  footer .footer-content .footer-right {
    margin-left: 78px;
    padding-left: 0;
    padding-top: 0;
  }

  footer .footer-title {
    font-size: 24px;
  }

  footer .footer-subtitle {
    font-size: 40px;
    width: 429px;
  }

  footer .footer-text {
    width: 429px;
    margin-top: 20px;
    margin-bottom: 64px;
    font-size: 18px;
  }

  footer .footer-form-text {
    font-size: 18px;
  }
  .footer__logo--icon {
    width: 32px;
    height: 32px;

    border: 6px solid white;
  }
  footer .socials .footer-fb-logo {
    width: 44px;
    height: 44px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    padding-left: 18px;
  }
  footer .socials .footer-Inst-logo {
    width: 44px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .socials .footer-YT-logo {
    width: 44px;
    height: 44px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 9px;
    padding-left: 9px;
  }
  footer .subscribe {
    width: 335px;
    margin-bottom: 0;
    height: 116px;
    row-gap: 20px;

    input[type="email"] {
      padding-left: 18px;
      margin-bottom: 0;
      font-size: 16px;
    }

    button {
      font-size: 16px;
    }
  }

  footer .footer-bottom{
    justify-content: center;
    margin-right: 0;
    width: 100vw;
    display: flex;
    column-gap: 297px;
  }
  footer .footer-botom-item{
    // width: 205px;
  }
}


@media screen and (min-width: 1440px) {

footer {
 padding-top: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}
  footer .footer-content {
margin: 0;
padding: 0px 0px 0px;
padding-top: 40px;
width: 1240px;
column-gap: 148px;
max-width: 100%;
  }
.footer-main-content{
  column-gap: 148px;
}

  footer .footer-content .footer-left,
  footer .footer-content .footer-center,
  footer .footer-content .footer-right {
  
    padding: 0;
    margin: 0;
  }


footer .right-center{
  display: flex;
  column-gap: 148px;
  width: 894px;
}



  footer .subscribe {
    margin-bottom: 0;
    height: 116px;
    row-gap: 20px;

    input[type="email"] {
      padding-left: 18px;
    margin-bottom: 0;
      font-size: 16px;
    }

    button {
      font-size: 16px;
    }
  }

  footer .footer-bottom{

    column-gap: 883px;
    margin-top: 128px;
  }
  footer .footer-botom-item{
  
  }
}
