.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: calc(50% - 650px);
  width: 65px;
  height: 65px;
  background-color: $highlight-color;
  border-radius: 50%;
  @include flexbox;
  gap: 10px;
  transition: background, box-shadow, $st-animation;

  &:hover {
    background-color: $bg-color;
    box-shadow: 0 0 25px 10px rgba($highlight-color, 0.5);
  }

  &:hover &__arrow {
    background-color: $highlight-color;
  }

  &:focus {
    background-color: $bg-color;
    outline: none;
    box-shadow: 0 0 25px 10px rgba($highlight-color, 0.5);
  }

  &:focus &__arrow {
    background-color: $highlight-color;
  }

  &__arrow {
    width: 8px;
    height: 35px;
    background-color: $bg-color;
    border-radius: 6px;
    transition: background $st-animation;
  }

  &__arrow:first-child {
    transform: rotate(42deg);
  }

  &__arrow:last-child {
    transform: rotate(-42deg);
  }
}
