.products {
  @media screen and (max-width: 768px) {
    max-width: 100%;

    &__list {
      display: flex;
      gap: 32px;
    }

    &__item {
      width: 336px;
      height: 360px;
    }

    &__container_img {
      width: 296px;
      height: 178px;
    }

    &__item:last-child {
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    &__deleting {
      display: none !important;
    }

    &__list {
      display: flex;
      justify-content: center;
    }
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
    gap: 40px 20px;
    flex-basis: calc((100% - 20px) / 3);

    @media screen and (min-width: 1200px) {
      width: 1200px;
      margin-left: -180px;
    }
  }

  &__item {
    flex-shrink: 0;
    background: #fafafa;
    border-radius: 20px;
    padding: 20px;
    width: 295px;
    height: 363px;
    gap: 20px;
  }

  &__container_img {
    margin: 0 auto;
    width: 255px;
    height: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8e8e2;
    border-radius: 10px;
  }

  &__img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
  }

  &__title {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Neue Montreal";
    color: #010101;
  }

  &__svg_btn {
    display: flex;
    padding: 8px;
    border-radius: 30px;
    background: #6d8434;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
      background-color: #586f1f;
    }
  }

  &__svg_price {
    display: flex;
    justify-content: space-between;
  }

  &__basket {
    width: 18px;
    height: 18px;
    fill: #fafafa;
  }

  &__category,
  &__size,
  &__popularity {
    color: rgba(1, 1, 1, 0.3);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    font-family: "Neue Montreal";
  }

  &__category {
    float: left;
    margin-right: 8px;
  }

  &__popularity {
    margin: 9px 0 30px;
  }

  &__category span,
  &__size span,
  &__popularity span {
    color: #010101;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    font-family: "Neue Montreal";
  }

  &__price {
    color: #010101;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Neue Montreal";
  }
}